@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Hava durumu takibi</h1>
    <hr />
    <p>
        Şehir araması yapmak için:
        <input type="text" id="inputcity" />
        <button id="search">Ara</button>
        <button id="reset">Yenile</button>
    </p>
</div>
<div class="row" id="param" align="center">
    <div class="col-md-4">
        <div class="card" align="center">
            <div align="center"><img class="card-img-top" src="..." alt="Hava iconu" id="city0img" style="width:30%;"></div>
            <div class="card-body">
                <h5 class="card-title" id="city0"></h5>
                <p class="card-text" id="detail0"></p>
                <form action="/Home/Detail" method="get">
                    <input type="hidden" name="lat" id="city0lat" value="" />
                    <input type="hidden" name="lon" id="city0lon" value="" />
                    <button type="submit" class="btn btn-primary btn-md mr-1 mb-2">Detay</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" align="center">
            <div align="center"><img class="card-img-top" src="..." alt="Hava iconu" id="city1img" style="width:30%;"></div>
            <div class="card-body">
                <h5 class="card-title" id="city1"></h5>
                <p class="card-text" id="detail1"></p>
                <form action="/Home/Detail" method="get">
                    <input type="hidden" name="lat" id="city1lat" value="" />
                    <input type="hidden" name="lon" id="city1lon" value="" />
                    <button type="submit" class="btn btn-primary btn-md mr-1 mb-2">Detay</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" align="center">
            <div align="center"><img class="card-img-top" src="..." alt="Hava iconu" id="city2img" style="width:30%;"></div>
            <div class="card-body">
                <h5 class="card-title" id="city2"></h5>
                <p class="card-text" id="detail2"></p>
                <form action="/Home/Detail" method="get">
                    <input type="hidden" name="lat" id="city2lat" value="" />
                    <input type="hidden" name="lon" id="city2lon" value="" />
                    <button type="submit" class="btn btn-primary btn-md mr-1 mb-2">Detay</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="params" align="center">
    <div class="card" align="center">
        <div align="center"><img class="card-img-top" src="..." alt="Hava iconu" id="city3img" style="width:10%;"></div>
        <div class="card-body">
            <h5 class="card-title" id="city3"></h5>
            <p class="card-text" id="detail3"></p>
            <form action="/Home/Detail" method="get">
                <input type="hidden" name="lat" id="city3lat" value="" />
                <input type="hidden" name="lon" id="city3lon" value="" />
                <button type="submit" class="btn btn-primary btn-md mr-1 mb-2">Detay</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /*Istanbul*/
    $.ajax({
        url: 'https://api.openweathermap.org/data/2.5/weather/',
        data: {
            q: 'Istanbul',
            units: 'metric',
            appid: '23ed72b43d15737fb65c75bf53d39810',
            lang: 'tr'
        },
        dataType: 'json',
        success: function (apiResponse) {
            $("#city0").text(apiResponse.name);
            $("#city0lat").val(apiResponse.coord.lat);
            $("#city0lon").val(apiResponse.coord.lon);
            $("#detail0").text(apiResponse.weather[0].description + " ve " + apiResponse.main.temp + " derece.");
            $("#city0img").attr("src", "https://openweathermap.org/img/wn/" + apiResponse.weather[0].icon + "@@2x.png");
        }
    });
    /*Ankara*/
    $.ajax({
        url: 'https://api.openweathermap.org/data/2.5/weather/',
        data: {
            q: 'Ankara',
            units: 'metric',
            appid: '23ed72b43d15737fb65c75bf53d39810',
            lang: 'tr'
        },
        dataType: 'json',
        success: function (apiResponse) {
            $("#city1").text(apiResponse.name);
            $("#city1lat").val(apiResponse.coord.lat);
            $("#city1lon").val(apiResponse.coord.lon);
            $("#detail1").text(apiResponse.weather[0].description + " ve " + apiResponse.main.temp + " derece.");
            $("#city1img").attr("src", "https://openweathermap.org/img/wn/" + apiResponse.weather[0].icon + "@@2x.png");
        }
    });
    /*İzmir*/
    $.ajax({
        url: 'https://api.openweathermap.org/data/2.5/weather/',
        data: {
            q: 'Izmir',
            units: 'metric',
            appid: '23ed72b43d15737fb65c75bf53d39810',
            lang: 'tr'
        },
        dataType: 'json',
        success: function (apiResponse) {
            $("#city2").text(apiResponse.name);
            $("#city2lat").val(apiResponse.coord.lat);
            $("#city2lon").val(apiResponse.coord.lon);
            $("#detail2").text(apiResponse.weather[0].description + " ve " + apiResponse.main.temp + " derece.");
            $("#city2img").attr("src", "https://openweathermap.org/img/wn/" + apiResponse.weather[0].icon + "@@2x.png");
        }
    });


    /*Özel arama*/
    $(document).ready(function () {
        $("#params").hide();

        $("#search").click(function () {
            $.ajax({
                url: 'https://api.openweathermap.org/data/2.5/weather/',
                data: {
                    q: $("#inputcity").val(),
                    units: 'metric',
                    appid: '23ed72b43d15737fb65c75bf53d39810',
                    lang: 'tr'
                },
                dataType: 'json',
                success: function (apiResponse) {
                    $("#params").show();
                    $("#param").hide();
                    $("#city3").text(apiResponse.name);
                    $("#city3lat").val(apiResponse.coord.lat);
                    $("#city3lon").val(apiResponse.coord.lon);
                    $("#detail3").text(apiResponse.weather[0].description + " ve " + apiResponse.main.temp + " derece.");
                    $("#city3img").attr("src", "https://openweathermap.org/img/wn/" + apiResponse.weather[0].icon + "@@2x.png");
                },
                error: function () {
                    alert("Şehir bulunamadı");
                }
            });
        });

        $("#reset").click(function () {
            $("#params").hide();
            $("#param").show();
            $("#inputcity").val("");
        });
    });

</script>