@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Anlık hava durumu bilgisini şehirlere göre gösteren uygulama. Openweather isimli API kullanılarak hazırlanan bu proje HyperDev firmasının teknik mülakatıdır.</p>
<br />
<p>Detaylı bilgi için <a href="https://github.com/onurkockann/HypderDev-TechCase-WeatherApp" target="_blank">tıklayın</a></p>
